html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.show-on-desktop {
  display: block;
}

.show-on-mobile {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #1890ff;
}

.what-color {
  color: white;
}

.sidebar-padding {
  padding: 20px;
}

@media (max-width: 425px) {
  .show-on-desktop {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .what-color {
    color: black;
  }

  .sidebar-padding {
    padding: 0;
  }
}
